{% extends 'base.html' %}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>Top Purchaser</h2>
        <hr />

        {% if template_data.top %}
        <div class="card mb-4">
            <div class="card-header"> User with most movies purchased</div>
            <div class="card-body">
                <table class="table table-bordered text-center mb-0">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Movies Purchased</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ template_data.top.username }}</td>
                        <td>{{ template_data.top.total }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
            <p>>No purchases yet.</p>
        {% endif %}
                <a class="btn bg-dark text-white" href="{% url 'dashboard.index' %}">Back to Dashboard</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}